html, body {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  width: 100%; /* Ensure full width */
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 1 auto;
  padding: 1rem 2rem 1rem 1rem;
  text-align: center;
}

.content {
  display: flex;
  flex: 1 1 auto;
  background-color: #ced4da;
  margin-top: 60px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  background-color: #ced4da;
  padding: 1rem;
}


.sidebar > div {
  margin-bottom: 1rem;
  background-color: #ced4da;
  padding: 0.5rem;
  text-align: center;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 auto;
  padding: 1rem;
  text-align: center;
}
