/* Header Styling */
.header {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5em 3em rgba(255, 255, 255, 0);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
  }
  
  /* Logo Styling */
  .header .logo {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 1rem;
    transition: text-shadow 0.3s ease-in-out;
  }
  
  .header .logo:hover {
    text-shadow: 0 0 8px #1e90ff;
  }
  
  /* Navigation Styling */
  .header .nav {
    display: flex;
    gap: 20px;
  }
  
  /* Navigation Links Styling */
  .header .nav a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  /* Navigation Links Hover Effect */
  .header .nav a:hover {
    color: #1e90ff;
  }
  
  .header .nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1e90ff;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -2px;
  }
  
  .header .nav a:hover::after {
    width: 100%;
  }
  
  /* Adding glow effect to navigation links */
  .header .nav a:hover {
    text-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
  }
  